In [1]:
import json

In [2]:
import numpy as np
import pandas as pd

In [3]:
!pip install pytrends

Requirement already satisfied: pytrends in c:\users\gurwinder kaur\anaconda3\lib\site-packages (4.7.3)
Requirement already satisfied: requests in c:\users\gurwinder kaur\anaconda3\lib\site-packages (from pytrends) (2.24.0)
Requirement already satisfied: pandas>=0.25 in c:\users\gurwinder kaur\anaconda3\lib\site-packages (from pytrends) (1.0.5)
Requirement already satisfied: lxml in c:\users\gurwinder kaur\anaconda3\lib\site-packages (from pytrends) (4.5.2)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\gurwinder kaur\anaconda3\lib\site-packages (from requests->pytrends) (1.25.9)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\gurwinder kaur\anaconda3\lib\site-packages (from requests->pytrends) (2020.6.20)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\gurwinder kaur\anaconda3\lib\site-packages (from requests->pytrends) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in c:\users\gurwinder kaur\anaconda3\lib\site-packages (from requests->pytrends) (2.10)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\gurwinder kaur\anaconda3\lib\site-packages (from pandas>=0.25->pytrends) (2.8.1)
Requirement already satisfied: numpy>=1.13.3 in c:\users\gurwinder kaur\anaconda3\lib\site-packages (from pandas>=0.25->pytrends) (1.18.5)
Requirement already satisfied: pytz>=2017.2 in c:\users\gurwinder kaur\anaconda3\lib\site-packages (from pandas>=0.25->pytrends) (2020.1)
Requirement already satisfied: six>=1.5 in c:\users\gurwinder kaur\anaconda3\lib\site-packages (from python-dateutil>=2.6.1->pandas>=0.25->pytrends) (1.15.0)

In [3]:
from pytrends.request import TrendReq

In [5]:
pip install --upgrade google-auth

Note: you may need to restart the kernel to use updated packages.

'C:\Users\Gurwinder' is not recognized as an internal or external command,
operable program or batch file.

In [5]:
pytrends = TrendReq(hl='en-US', tz=360)

In [4]:
import requests

In [ ]:
usr = input("Enter username : ")

In [ ]:
pas = input("Enter password: ")

In [49]:
r = requests.get('https://trends.google.com/trends', auth=(usr, pas))

In [44]:
r.status_code

200

In [14]:
import time

In [15]:
pytrend = TrendReq()

In [16]:
key = input("Enter keyword: ")

Enter keyword: Corona

In [17]:
pytrend.build_payload(kw_list=[key])

In [18]:
# Interest by Region
df = pytrend.interest_by_region(resolution='COUNTRY', inc_geo_code=False)
df.head(10)

                   Corona
geoName
Afghanistan             0
Albania                 0
Algeria                 0
American Samoa          0
Andorra                 0
Angola                  0
Anguilla                0
Antarctica              0
Antigua & Barbuda       0
Argentina               6

In [19]:
# Get Google Hot Trends data
df = pytrend.trending_searches(pn='united_states')
df.head()

                   0
0       YouTube down
1  Electoral College
2   Weather forecast
3       Andrew Cuomo
4         SolarWinds

In [20]:
df = pytrend.today_searches(pn='US')
df.head()

0         YouTube down
1    Electoral College
2     Weather forecast
3         Andrew Cuomo
4           SolarWinds
Name: query, dtype: object

In [21]:
# Get Google Top Charts
df = pytrend.top_charts(2020, hl='en-US', tz=300, geo='GLOBAL')
df.head()

              title exploreQuery
0       Coronavirus
1  Election results
2       Kobe Bryant
3              Zoom
4               IPL

In [22]:
# Get Google Keyword Suggestions
keywords = pytrend.suggestions(keyword='Mercedes Benz')
df = pd.DataFrame(keywords)
df.drop(columns= 'mid')   # This column makes no sense

                     title                     type
0            Mercedes-Benz  Luxury vehicles company
1    Mercedes-Benz C-Class             Mid-size car
2  Mercedes-Benz GLE-Class           Luxury vehicle
3    Mercedes-Benz S-Class           Luxury vehicle
4    Mercedes-Benz E-Class           Luxury vehicle

In [23]:
df.rename(columns = {"title":"Title ", "type":"Type "}, inplace = True)

In [24]:
df= df.drop(columns= 'mid')

In [25]:
df

                    Title                     Type
0            Mercedes-Benz  Luxury vehicles company
1    Mercedes-Benz C-Class             Mid-size car
2  Mercedes-Benz GLE-Class           Luxury vehicle
3    Mercedes-Benz S-Class           Luxury vehicle
4    Mercedes-Benz E-Class           Luxury vehicle

In [26]:
df.to_csv('TestKeyword1.csv',sep='\t', index=False)

In [27]:
df.to_excel("TestKey2.xlsx", index=False)

In [28]:
pytrend.build_payload(kw_list=['IPL'])

In [29]:
# Related Queries, returns a dictionary of dataframes
related_queries = pytrend.related_queries()
related_queries.values()

dict_values([{'top':                query  value
0           ipl live    100
1          score ipl     89
2           ipl 2020     71
3     ipl live score     59
4         live score     57
5          ipl match     56
6          ipl table     48
7           ipl 2019     42
8       ipl schedule     30
9          today ipl     30
10          ipl 2018     30
11  points table ipl     26
12      points table     26
13   today ipl match     23
14          ipl 2017     18
15     ipl 2020 live     15
16         ipl point     15
17       cricket ipl     15
18   ipl point table     14
19       point table     14
20          ipl list     12
21    live ipl match     12
22          ipl 2016     11
23      cricbuzz ipl     10
24    ipl table 2020     10, 'rising':                     query   value
0                ipl 2019  188500
1   ipl points table 2020  173450
2           live ipl 2019  149700
3          ipl table 2020  138250
4                ipl 2018  116750
5                ipl 2017  109450
6   ipl points table 2018   98200
7    point table ipl 2019   97550
8          ipl score 2019   76900
9     ipl live score 2019   75100
10   ipl point table 2019   73950
11         ipl score 2018   66950
12      ipl 2020 schedule   66600
13          ipl 2018 live   65000
14   ipl point table 2018   62250
15      ipl schedule 2019   61650
16      ipl 2019 schedule   60600
17  ipl points table 2019   58350
18         ipl 2020 score   56300
19          ipl 2019 list   52150
20          vivo ipl 2019   49450
21    ipl 2020 live score   49200
22          ipl 2020 list   44550
23               ipl 2020   43400
24         ipl match 2020   41100}])

In [30]:
# Related Topics, returns a dictionary of dataframes
related_topic = pytrend.related_topics()
related_topic.values()

dict_values([{'rising':      value formattedValue                                            link  \
0   507500       Breakout  /trends/explore?q=/g/11f6593n2n&date=today+5-y
1   138600       Breakout  /trends/explore?q=/g/11b77b4nf8&date=today+5-y
2   123700       Breakout  /trends/explore?q=/g/11c1sz_5k9&date=today+5-y
3   101900       Breakout   /trends/explore?q=/g/11x1ngsf3&date=today+5-y
4    53150       Breakout  /trends/explore?q=/g/11b77d3kyh&date=today+5-y
5    41550       Breakout  /trends/explore?q=/g/11dyzdn2hn&date=today+5-y
6    17750       Breakout  /trends/explore?q=/g/11h4yld3j_&date=today+5-y
7    15300       Breakout  /trends/explore?q=/g/11bxfyv_0v&date=today+5-y
8    14400       Breakout  /trends/explore?q=/g/11bxfxbd_c&date=today+5-y
9    10800       Breakout  /trends/explore?q=/g/11f647vn4y&date=today+5-y
10    5900       Breakout  /trends/explore?q=/g/11fkr1gbf9&date=today+5-y
11    5750       Breakout  /trends/explore?q=/g/11bwfm86_8&date=today+5-y
12    5300       Breakout  /trends/explore?q=/g/11df0ps4l_&date=today+5-y
13    4900        +4,900%  /trends/explore?q=/g/11byyf4rm9&date=today+5-y
14    4450        +4,450%  /trends/explore?q=/g/11c3tfyxvm&date=today+5-y
15    4400        +4,400%  /trends/explore?q=/g/11f5lxwl_v&date=today+5-y
16    3550        +3,550%     /trends/explore?q=/m/0bxz543&date=today+5-y
17    2850        +2,850%  /trends/explore?q=/g/11fk1k6h9j&date=today+5-y
18    2650        +2,650%      /trends/explore?q=/m/0cxvrj&date=today+5-y
19    1850        +1,850%    /trends/explore?q=/m/0134cq3_&date=today+5-y
20    1750        +1,750%     /trends/explore?q=/m/0pcm48c&date=today+5-y
21    1750        +1,750%  /trends/explore?q=/g/11bxxqwz6f&date=today+5-y
22    1100        +1,100%     /trends/explore?q=/m/047rc5n&date=today+5-y
23     600          +600%     /trends/explore?q=/m/0fpgpnd&date=today+5-y
24     550          +550%     /trends/explore?q=/m/0h7qrz6&date=today+5-y

        topic_mid                        topic_title  \
0   /g/11f6593n2n         2019 Indian Premier League
1   /g/11b77b4nf8                               2018
2   /g/11c1sz_5k9         2017 Indian Premier League
3    /g/11x1ngsf3                               2019
4   /g/11b77d3kyh                               2020
5   /g/11dyzdn2hn         2018 Indian Premier League
6   /g/11h4yld3j_         2020 Indian Premier League
7   /g/11bxfyv_0v                      Gujarat Lions
8   /g/11bxfxbd_c             Rising Pune Supergiant
9   /g/11f647vn4y   2018 Indian Premier League Final
10  /g/11fkr1gbf9  Cricket at the 2019 Pacific Games
11  /g/11bwfm86_8                        Rashid Khan
12  /g/11df0ps4l_   2017 Indian Premier League Final
13  /g/11byyf4rm9   2016 Indian Premier League Final
14  /g/11c3tfyxvm                       Rishabh Pant
15  /g/11f5lxwl_v                            Dream11
16     /m/0bxz543                         Ben Stokes
17  /g/11fk1k6h9j   2019 Indian Premier League Final
18      /m/0cxvrj         2019 ICC Cricket World Cup
19    /m/0134cq3_         2016 Indian Premier League
20     /m/0pcm48c                        K. L. Rahul
21  /g/11bxxqwz6f                      Hardik Pandya
22     /m/047rc5n       Sheikh Zayed Cricket Stadium
23     /m/0fpgpnd                      Andre Russell
24     /m/0h7qrz6              Pakistan Super League

                                    topic_type
0                                   Tournament
1                                        Topic
2                                   Tournament
3                                        Topic
4                                        Topic
5                         Sports league season
6                                   Tournament
7                                 Cricket team
8                                 Cricket team
9                                   Tournament
10                                       Event
11                            Afghan cricketer
12                                  Tournament
13                                  Tournament
14                            Indian cricketer
15                                       Topic
16                                   Cricketer
17                                  Tournament
18                                  Tournament
19                        Sports league season
20                            Indian cricketer
21                            Indian cricketer
22  Stadium in Abu Dhabi, United Arab Emirates
23                          Jamaican cricketer
24                                      League  , 'top':     value formattedValue  hasData  \
0     100            100     True
1      17             17     True
2      15             15     True
3       8              8     True
4       6              6     True
5       5              5     True
6       4              4     True
7       4              4     True
8       4              4     True
9       4              4     True
10      3              3     True
11      2              2     True
12      2              2     True
13      2              2     True
14      2              2     True
15      2              2     True
16      2              2     True
17      2              2     True
18      1              1     True
19      1              1     True
20      1              1     True
21      1              1     True
22      1              1     True
23      1              1     True
24      0             <1     True

                                              link      topic_mid  \
0      /trends/explore?q=/m/03b_lm1&date=today+5-y     /m/03b_lm1
1   /trends/explore?q=/g/11b77d3kyh&date=today+5-y  /g/11b77d3kyh
2   /trends/explore?q=/g/11h4yld3j_&date=today+5-y  /g/11h4yld3j_
3   /trends/explore?q=/g/11f6593n2n&date=today+5-y  /g/11f6593n2n
4   /trends/explore?q=/g/11b77b4nf8&date=today+5-y  /g/11b77b4nf8
5   /trends/explore?q=/g/11dyzdn2hn&date=today+5-y  /g/11dyzdn2hn
6        /trends/explore?q=/m/09xp_&date=today+5-y       /m/09xp_
7    /trends/explore?q=/g/11x1ngsf3&date=today+5-y   /g/11x1ngsf3
8       /trends/explore?q=/m/011l78&date=today+5-y      /m/011l78
9   /trends/explore?q=/g/11c1sz_5k9&date=today+5-y  /g/11c1sz_5k9
10  /trends/explore?q=/g/11b8tw8qgj&date=today+5-y  /g/11b8tw8qgj
11    /trends/explore?q=/m/0134cq3_&date=today+5-y    /m/0134cq3_
12      /trends/explore?q=/m/03b34z&date=today+5-y      /m/03b34z
13     /trends/explore?q=/m/03nwvqm&date=today+5-y     /m/03nwvqm
14      /trends/explore?q=/m/02vzx9&date=today+5-y      /m/02vzx9
15      /trends/explore?q=/m/01rlk3&date=today+5-y      /m/01rlk3
16     /trends/explore?q=/m/03nxlj5&date=today+5-y     /m/03nxlj5
17     /trends/explore?q=/m/03nxc_0&date=today+5-y     /m/03nxc_0
18     /trends/explore?q=/m/03nx8jd&date=today+5-y     /m/03nx8jd
19       /trends/explore?q=/m/0gz6g&date=today+5-y       /m/0gz6g
20     /trends/explore?q=/m/0pb5c_p&date=today+5-y     /m/0pb5c_p
21     /trends/explore?q=/m/03nw_vc&date=today+5-y     /m/03nw_vc
22     /trends/explore?q=/m/03nxlh4&date=today+5-y     /m/03nxlh4
23     /trends/explore?q=/m/03nxlgg&date=today+5-y     /m/03nxlgg
24  /trends/explore?q=/g/11f5lxwl_v&date=today+5-y  /g/11f5lxwl_v

                    topic_title            topic_type
0         Indian Premier League        Cricket league
1                          2020                 Topic
2    2020 Indian Premier League            Tournament
3    2019 Indian Premier League            Tournament
4                          2018                 Topic
5    2018 Indian Premier League  Sports league season
6                       Cricket                 Topic
7                          2019                 Topic
8                          Team                 Topic
9    2017 Indian Premier League            Tournament
10                     CricBuzz               Website
11   2016 Indian Premier League  Sports league season
12                     Twenty20                 Sport
13          Chennai Super Kings          Cricket team
14                       Player                  Game
15         Intense pulsed light                 Topic
16               Mumbai Indians          Cricket team
17  Royal Challengers Bangalore          Cricket team
18        Kolkata Knight Riders          Cricket team
19                      Auction                 Topic
20          Sunrisers Hyderabad          Cricket team
21               Delhi Capitals          Cricket team
22              Kings XI Punjab          Cricket team
23             Rajasthan Royals          Cricket team
24                      Dream11                 Topic  }])

In [31]:
dt = pd.DataFrame({'rising'})

In [32]:
import datorama

ModuleNotFoundError: No module named 'datorama'

In [33]:
dt.to_csv('MyTrends.csv',sep='\t')

In [34]:
dt.head()

        0
0  rising

In [35]:
import json

In [36]:
df

                    Title                     Type
0            Mercedes-Benz  Luxury vehicles company
1    Mercedes-Benz C-Class             Mid-size car
2  Mercedes-Benz GLE-Class           Luxury vehicle
3    Mercedes-Benz S-Class           Luxury vehicle
4    Mercedes-Benz E-Class           Luxury vehicle

In [37]:
result = df.to_json(orient="split")
parsed = json.loads(result)
json.dumps(parsed)

'{"columns": ["Title ", "Type "], "index": [0, 1, 2, 3, 4], "data": [["Mercedes-Benz", "Luxury vehicles company"], ["Mercedes-Benz C-Class", "Mid-size car"], ["Mercedes-Benz GLE-Class", "Luxury vehicle"], ["Mercedes-Benz S-Class", "Luxury vehicle"], ["Mercedes-Benz E-Class", "Luxury vehicle"]]}'

In [38]:
result = df.to_json(orient="records")
parsed = json.loads(result)
json.dumps(parsed)

'[{"Title ": "Mercedes-Benz", "Type ": "Luxury vehicles company"}, {"Title ": "Mercedes-Benz C-Class", "Type ": "Mid-size car"}, {"Title ": "Mercedes-Benz GLE-Class", "Type ": "Luxury vehicle"}, {"Title ": "Mercedes-Benz S-Class", "Type ": "Luxury vehicle"}, {"Title ": "Mercedes-Benz E-Class", "Type ": "Luxury vehicle"}]'